# SQL basics

Database is a collection of data
There is 2 types
- **relational** - using columns and rows, common in transactional applications
- **non-relational**
Query is a request for data from database, performing different operations as:
    ***CRUD*** - create, read, update, delete

You can run database on your own computer or on server
If you do it on server there is 2 types:
1. On-Prem(company database)
2. Serverless - Google, Amazon, etc.

**Fact Tables** - contains the core data for buisness analysis

**Dimensions tables** - describe attributes or dimensions of the data

### SQLite - lightweight, file-based
    ideal for small to medium applications(also zero configs, easy setup)
    CASE - Insentive, means that commands can be written not necessary by capital letters 

### PostgresSQL - more advanced

# Main and Basic Keywords:

## SELECT * / FROM
    SELECT - identifies columns from db
    FROM - which table we are connecting to
    * - special character to select all columns 

## LIMIT
    query only certain amount of rows. Useful since in real life projects we don't want to have all data(too much)
    always goes as last part of statement

## DISTINCT 
    get uniques rows and positioned right after SELECT
        Isn't usually used for entire query

## WHERE
    sets a condition for the query
    goes right after FROM 

## Comments
    marks with '--' (two dashes) - single line comment
    /*  */ - multi line comment

## ORDER BY
    sort the rows
        default order ascending (smallest -> largest, A to Z)
        NULL is the smallest if no values
        mention DESC / ASC(by standard) to change order . Doing in same row where we choose the column by each to sort

# Order to Write Commands
- **SELECT** col1 col2,...
- **FROM** table_name
- **WHERE** condition
- **GROUP BY** column
- **HAVING** condition
- **ORDER BY** col1 [ASC | DESC]
- **LIMIT** number;

### Extra notes & features:
- right orders is SELECT and after FROM otherwise doesn't work
- LIMIT is last sql statement we are mentionning
- "**;**" marks the end of SQL statement, in VS Code you can run and see results of multiple statements as well

# Comparisons
Used within the **WHERE** or **HAVING** clause
Comparison operators: classic =, <>, >=, <=, <,>

Used in conjuction with logical operators:
- *AND*, *OR*, *BETWEEN*, *IN*
<> and NOT is equal and mean ***not equal to***

**BETWEEN** - get values within range(including edges similar to <= and >=):
- ex: instead of *salary >= 60 000 AND salary <= 80 000*
    - do: *salary BETWEEN 60000 AND 80000*

**IN** - to specify multiple values in a WHERE clause
- in other words alternative to using multiple OR
- before: job_place = 'Boston' OR job_place = 'Miami' OR ...
    - After: job_place IN ('Boston', 'Prague', 'Miami')